<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <%- include(`${viewsfolder}/components/head`) %> 

        <title><%= title %> | Infinite Chess</title>
        <link rel='stylesheet' href='/css/<%- name %>.css'>
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>
            <%- include(`${viewsfolder}/${name}`, {t:t, languages:languages, language:language}) %>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
        <script src="/scripts/memberHeader.js"></script>
    </body>
</html>