<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Create Account</title>
        <link rel='stylesheet' href='/css/createaccount.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <script defer src="/scripts/createaccount.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p><%=t('header.home')%></p>
                </a>
                <a href="/play">
                    <p><%=t('header.play')%></p>
                </a>
                <a href="./news">
                    <p><%=t('header.news')%></p>
                </a>
                <a href="./login">
                    <p><%=t('header.login')%></p>
                </a>
                <a href="./createaccount">
                    <p class="currPage"><%=t('header.createaccount')%></p>
                </a>
            </nav>
        </header>
        <main>
            <div id="content">
                <h1 class="center"><%=t('create-account.title')%></h1>
                <form action="./createaccount" method="POST" class="center" id="form">
                    <div class="formfield">
                        <div id="usernameinputline">
                            <label for="username"><%=t('create-account.username')%></label>
                            <input id="username" type="text" name="username" required minLength="3" maxLength="20" autocomplete="off" autofocus>
                        </div>
                        <!-- This is where our script inserts an error division! -->
                        <div id="emailinputline">
                            <div class="line">
                            <label for="email"><%=t('create-account.email')%></label>
                            <input id="email" type="email" name="email" required minLength="3" maxLength="318" autocomplete="off">
                            </div>
                        </div>
                        <div id="passwordinputline">
                            <div class="line">
                            <label for="password"><%=t('create-account.password')%></label>
                            <input id="password" type="password" name="password" required minLength="6" maxLength="40">
                            </div>
                        </div>
                        
                    </div>
                    <input type="submit" value="<%=t('create-account.create_button')%>" class="unavailable" id="submit">
                    <p class="agreement"><%=t('create-account.argreement.0')%><a href='/termsofservice' target='_blank'><%=t('create-account.argreement.1')%></a></p>
                </form>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages}) %>
    </body>
</html>