<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Credits</title>
        <link rel='stylesheet' href='/css/credits.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p><%=t('header.home')%></p>
                </a>
                <a href="/play">
                    <p><%=t('header.play')%></p>
                </a>
                <a href="./news">
                    <p><%=t('header.news')%></p>
                </a>
                <a href="./login" id="loginlink">
                    <p id="logintext"><%=t('header.login')%></p>
                </a>
                <a href="./createaccount" id="createaccountlink">
                    <p id="createaccounttext"><%=t('header.createaccount')%></p>
                </a>
                <script src="/scripts/memberHeader.js"></script>
            </nav>
        </header>
        <main>
            <div id="content">
                <h1 class="center"><%=t('credits.title')%></h1>
                <p class="center" style="margin-bottom:3em"><%=t('credits.copyright')%></p>
                
                <h2><%=t('credits.variants_heading')%></h2>
                <p><%-t('credits.variants_credits', { joinArrays: '</p><p>' })%></p>

                <h2><%=t('credits.textures_heading')%></h2>
                <p><%-t('credits.textures_credits', { joinArrays: '</p><p>' })%></p>

                <h2><%=t('credits.sounds_heading')%></h2>
                <p><%-t('credits.sounds_credits', { joinArrays: '</p><p>' })%></p>

                <h2><%=t('credits.code_heading')%></h2>
                <p><%-t('credits.code_credits', { joinArrays: '</p><p>' })%></p>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages}) %>
    </body>
</html>