<!-- <div id="content">
    <div class="logo">
        <img src="/img/king_w.png" alt="White chess king">
        <h1 class="center">Infinite Chess</h1>
        <img src="/img/queen_w.png" alt="White chess king">
        <p class="center"><%=t('index.secondary_title')%></p>
    </div>
    <div class="center">
        <iframe class="" src="https://www.youtube.com/embed/rav29N0-h2c" title="YouTube video: I Made Chess, but It's Infinite" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <h2><%=t('index.what_is_it_title')%></h2>
    <p><%-t('index.what_is_it_pargaraphs', { joinArrays: '</p><p>' })%></p>
        <h3><%=t('index.how_to_title')%></h3>
        <p><%=t('index.how_to_paragraph.0')%><a href='/play'><%=t('index.how_to_paragraph.1')%></a><%=t('index.how_to_paragraph.2')%></p>
        
        <br>
        <h3 class="center"><%=t('index.about_title')%></h3>
        <p><%=t('index.about_paragraphs.0')%></p>
        <p><%=t('index.about_paragraphs.1.0')%> <a target='_blank' href='https://www.patreon.com/Naviary'><%=t('index.about_paragraphs.1.1')%></a>.</p>

        <br>
        <h3 class="center"><%=t('index.patreon_title')%></h3>
        <div class="patreon-container">
            <p>Andreas</p>
            <p>Lebarb</p>
            <p>Mauer01</p>
            <p>Levon</p>
            <p><spam class="IM">IM</spam> Luke Harmon-Vellotti</p>
            <p>KnightBeforeLast</p>
            <p>SuperGamersGames</p>
        </div>
        <div class="patreon-container">
            <p>EmmaBellHelium</p>
            <p>Meni</p>
            <p>Settemio</p>
        </div>
</div> -->

<div id="hero">
    <div class="container">
        <div class="text">
            <h1>Beyond 64 Squares</h1>
            <p>
                Infinite Chess is a variant of chess in which there are <strong>no borders</strong>, much larger than your familiar 8x8 board. The queen, rooks, and bishops have <strong>no limit</strong> to how far they can move per turn. Pick any natural integer up to infinity!
            </p>
            <button>Play</button>
        </div>
    </div>
</div>