<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%=t('login.title')%></title>
        <link rel='stylesheet' href='/css/header.css'>
        <link rel='stylesheet' href='/css/login.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" href="/img/favicon-light.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" href="/img/favicon-dark.png" media="(prefers-color-scheme: dark)" id="favicon" />
        <script defer src="/scripts/cjs/views/login.js"></script>
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>
            <div id="content">                  
                <h1 class="center"><%=t('login.title')%></h1>
                <form action="./login" method="POST" class="center" id="form">
                    <!-- Container for the Login Fields -->
                    <div id="login-form-container">
                        <div class="formfield">
                            <div id="username-input-line">
                                <label for="username"><%=t('login.username')%></label>
                                <input id="username" type="text" name="username" required maxLength="40" autocomplete="off" autofocus>
                            </div>
                            <div id="password-input-line">
                                <label for="password"><%=t('login.password')%></label>
                                <input id="password" type="password" name="password" required>
                            </div>
                            <!-- This is where our script inserts a login error division! -->
                        </div>
                        <!-- The main login submit button -->
                        <input type="submit" value="<%=t('login.login_button')%>" class="unavailable" id="submit">
                    </div>

                    <!-- Container for the Forgot Password Fields (HIDDEN BY DEFAULT) -->
                    <div id="forgot-form-container" class="hidden">
                        <div class="formfield">
                            <div id="email-input-line">
                                <label for="forgot-email"><%=t('create-account.email')%></label>
                                <input id="forgot-email" type="email" name="email" required maxLength="100" autocomplete="off">
                            </div>
                            <!-- This is where our script will insert a forgot password error/success division! -->
                        </div>
                        <!-- The submit button for the forgot password form -->
                        <input type="submit" value="<%=t('login.send_reset_link')%>" class="unavailable" id="forgot-submit">
                    </div>


                    <!-- The "Forgot Password?" link - This will now be visible and control the switch -->
                    <p class="forgot-link-container">
                        <a href="#" id="forgot-link"><%=t('login.forgot_question')%></a>
                        <!-- This link will appear inside the forgot password form to switch back -->
                        <a href="#" id="back-to-login-link" class="hidden"><%=t('login.back_to_login')%></a>
                    </p>
                </form>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
    </body>
</html>