<div id="content">                  
    <h1 class="center"><%=t('login.title')%></h1>
    <form action="./login" method="POST" class="center" id="form">
        <div class="formfield">
            <div id="usernameinputline">
                <label for="username"><%=t('login.username')%></label>
                <input id="username" type="text" name="username" required maxLength="40" autocomplete="off" autofocus>
            </div>
            <div id="passwordinputline">
                <label for="password"><%=t('login.password')%></label>
                <input id="password" type="password" name="password" required>
            </div>
            <!-- This is where our script inserts an error division! -->
        </div>
        <p id="forgot" class="forgothidden"><%=t('login.forgot_password.0')%><a href='mailto:infinitechess.org@gmail.com'><%=t('login.forgot_password.1')%></a></p>
        <input type="submit" value="<%=t('login.login_button')%>" class="unavailable" id="submit">
    </form>
</div>