<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <script>
            const translations = <%-JSON.stringify({
                ...t('header.javascript', {returnObjects: true})
            })%>;
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%=t('news.title')%></title>
        <link rel='stylesheet' href='/css/news.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" href="/img/favicon-light.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" href="/img/favicon-dark.png" media="(prefers-color-scheme: dark)" id="favicon" />
        <script defer src="/scripts/memberHeader.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p><%=t('header.home')%></p>
                </a>
                <a href="/play">
                    <p><%=t('header.play')%></p>
                </a>
                <a href="/news">
                    <p class="currPage"><%=t('header.news')%></p>
                </a>
                <a href="/login" id="loginlink">
                    <p id="logintext"><%=t('header.login')%></p>
                </a>
                <a href="/createaccount" id="createaccountlink">
                    <p id="createaccounttext"><%=t('header.createaccount')%></p>
                </a>
            </nav>
        </header>
        <main>
            <div id="content">                  
                <h1 class="center"><%=t('news.title')%></h1>

                <%-newsHTML%>
                <p class="body"><%=t('news.more_dev_logs.0')%><a target='_blank' href='https://discord.gg/NFWFGZeNh5'><%=t('news.more_dev_logs.1')%></a><%=t('news.more_dev_logs.2')%><a href='https://www.chess.com/forum/view/chess-variants/infinite-chess-app-devlogs-and-more' target='_blank'><%=t('news.more_dev_logs.3')%></a></p>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
    </body>
</html>
