<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <script>
            const translations = <%-JSON.stringify(t('header.javascript', {returnObjects: true}))%>;
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>News</title>
        <link rel='stylesheet' href='/css/news.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p><%=t('header.home')%></p>
                </a>
                <a href="/play">
                    <p><%=t('header.play')%></p>
                </a>
                <a href="/news">
                    <p class="currPage"><%=t('header.news')%></p>
                </a>
                <a href="/login" id="loginlink">
                    <p id="logintext"><%=t('header.login')%></p>
                </a>
                <a href="/createaccount" id="createaccountlink">
                    <p id="createaccounttext"><%=t('header.createaccount')%></p>
                </a>
                <script src="/scripts/memberHeader.js"></script>
            </nav>
        </header>
        <main>
            <div id="content">                  
                <h1 class="center"><%=t('news.title')%></h1>

                <p class="date"><%=t('news.july13-2024.date')%></p>
                <br>
                <p class="body"><%=t('news.july13-2024.tos_update.0')%><a href='/termsofservice'><%=t('news.july13-2024.tos_update.1')%></a><%=t('news.july13-2024.tos_update.2')%></p>
                <br>


                <p class="date"><%=t('news.july9-2024.date')%></p>
                <br>
                <p class="body"><%=t('news.july9-2024.text.0')%><a href='https://github.com/Infinite-Chess/infinitechess.org' target='_blank'><%=t('news.july9-2024.text.1')%></a></p>
                <br>
                <iframe width="350" height="197" src="https://www.youtube.com/embed/fSUEKosgyt0?si=L-blqfVEpPBmQLMn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <p class="date"><%=t('news.may27-2024.date')%></p>
                <br>
                <p class="body"><%=t('news.may27-2024.text')%></p>


                <p class="date"><%=t('news.may24-2024.date')%></p>
                <br>
                <p class="body"><%=t('news.may24-2024.text')%></p>


                <p class="date"><%=t('news.may14-2024.date')%></p>
                <p class="body"><%=t('news.may14-2024.text_top')%></p>
                <br>
                <p class="body"><%=t('news.may14-2024.update_list.0')%></p>
                <p class="body"><%=t('news.may14-2024.update_list.1')%></p>
                <p class="body"><%=t('news.may14-2024.update_list.2')%></p>
                <p class="body"><%=t('news.may14-2024.update_list.3')%></p>
                <p class="body"><%=t('news.may14-2024.update_list.4')%></p>
                <p class="body"><%=t('news.may14-2024.update_list.5')%></p>
                <br>
                <p class="body"><%=t('news.may14-2024.text_box.0')%><a href='https://discord.com/channels/1114425729569017918/1114427288776364132/1240014519061712997' target='_blank'><%=t('news.may14-2024.text_box.1')%></a></p>
                
                <p class="date"><%=t('news.jan29-2024.date')%></p>
                <p class="body"><%=t('news.jan29-2024.text')%></p>
                <iframe width="350" height="197" src="https://www.youtube.com/embed/b-Bb_TyhC1A?si=NmCm-RS21E61sA-O" title="YouTube video: The Search for the Longest Infinite Chess Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   


                <p class="date"><%=t('news.aug26-2023.date')%></p>
                <p class="body"><%=t('news.aug26-2023.text_top')%></p>
                <br>
                <p class="body"><%=t('news.aug26-2023.text_box')%></p>
                
                <!-- Commented out sections are not in language-localizable format. -->
                <!-- <p class="date">Aug 15, 2023:</p>
                <p class="body">You can now design a position, and transfer it into the game to play custom local or private matches! Resources are in the <a target="_blank" href="https://discord.gg/NFWFGZeNh5">discord server</a>.</p> -->
                <!-- <p class="date">Aug 9, 2023:</p>
                <p class="body">New video is out!</p>
                <iframe width="350" height="197" src="https://www.youtube.com/embed/CQ4Ap5itTX4?si=W31VA0vsCumFoyuh" title="YouTube video: Mate-in-Omega, The Great Phenomenon of Infinite Chess" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <!-- <p class="date">June 30, 2023:</p> -->
                <!-- <p class="body">Released version 1.1.3! A few new pieces and variants have been added! Including support for private matches!</p>
                <p class="date">May 23, 2023:</p>
                <p class="body">Released version 1.1.0! Featuring a toggleable perspective mode for desktop devices! Also, player black will have their perspective rotated to be from black's perspective.</p> -->
                <!-- <p class="body">Version 1.0.3 brings back mobile support!</p>
                <p class="date">May 17, 2023:</p>
                <p class="body">Infinite Chess version 1.0.0 has now been released! 🎉 Play with other people online! Report any bugs to me on the #bugs channel of the <a target="_blank" href="https://discord.gg/NFWFGZeNh5">official discord</a>!</p> -->
                <br> <br> <br>
                <p class="body"><%=t('news.more_dev_logs.0')%><a target='_blank' href='https://discord.gg/NFWFGZeNh5'><%=t('news.more_dev_logs.1')%></a><%=t('news.more_dev_logs.2')%><a href='https://www.chess.com/forum/view/chess-variants/infinite-chess-app-devlogs-and-more' target='_blank'><%=t('news.more_dev_logs.3')%></a></p>
                
                <!-- Commented out sections are not in language-localizable format. -->
                <!-- <p class="date">November 20, 2022:</p>
                <p class="body">Account creation is complete! Users can now safely create an account.</p>
                <p class="date">November 10, 2022:</p>
                <p class="body">Obtained an SSL certificate. Connections to the site are now secure https.</p> -->
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
    </body>
</html>
