<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <script>
            const translations = <%-JSON.stringify({
                ...t('play.javascript', {returnObjects: true}),
                ...t('play.play-menu', {returnObjects: true})
            })%>;
        </script>
        <!-- Do not modify the next line under any circumstances!! It is used by build.js as a reference point of where to inject js -->
        <!-- htmlscript inject here -->

        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no" />
        <title><%=t('play.title')%></title>
        <link rel='stylesheet' href='/css/header.css'>
        <link rel='stylesheet' href='/css/play.css' onerror="htmlscript.callback_LoadingError(event)" onload="htmlscript.removeOnerror.call(this);"> <!-- NEEDS TO BE ABOVE JAVASCRIPT-INJECTED STYLINGS SO THAT TAKES PRECEDENCE -->
        <link rel="icon" href="/img/favicon/favicon-light.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" href="/img/favicon/favicon-dark.png" media="(prefers-color-scheme: dark)" id="favicon" />
        <!-- Custom fonts: Merriweather, Open Sans -->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet">
        <script defer src="/scripts/esm/game/main.js" type="module" onerror="htmlscript.callback_LoadingError(event)" onload="(() => { htmlscript.removeOnerror.call(this); })()"></script>
        <!-- Javascript will add future styles in here. NEEDS TO BE BELOW OTHER STYLESHEET SO THIS TAKES PRECEDENCE -->
        <style id="style"></style>
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>

            <!-- Left vertical bar of Board Editor -->
        	<div id="editor-menu" class="editor-menu unselectable hidden">
				<!-- Section: Position -->
				<div>
					<div class="editor-header">Position</div>
					<div class="position-actions">
						<div data-tool="reset" id="reset" class="instant tooltip-dr" data-tooltip="Reset position">
							<svg class="svg-reset" fill="none" viewBox="0 0 240 240"><g stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" clip-path="url(#a)"><path d="M120 30a90 90 0 11-57 20"/><path d="M30 45h40v40"/></g><defs><clipPath id="a"><path d="M0 0h240v240H0" fill="#333"/></clipPath></defs></svg>
						</div>
						<div data-tool="clearall" id="clearall" class="instant tooltip-d" data-tooltip="Clear position">
							<svg class="svg-clearall" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 2400 2400"><g fill="#333"><path d="M300 639c0-49 35-88 77-88h267c53-2 100-40 117-97l3-10 12-39c7-24 13-45 21-63 34-74 97-126 170-139 17-3 37-3 60-3h347c22 0 42 0 60 3 72 13 135 65 169 140 8 17 14 40 21 62l12 40 3 10c18 56 74 94 127 96h257c42 0 77 40 77 88s-35 87-77 87H377c-42 0-77-39-77-87Z"/><path d="M1160 2200h80c279 0 418 0 508-89 90-88 100-233 119-524l26-419c10-158 15-236-30-286-45-50-122-50-275-50H812c-153 0-230 0-275 50-45 50-40 128-30 286l26 419c19 290 28 436 119 524 90 90 230 90 508 90Zm-135-981a76 76 0 00-82-70 78 78 0 00-68 86l50 526c4 43 41 75 82 70a78 78 0 00 68-86l-50-526Zm432-70c42 4 72 42 68 86l-50 526a76 76 0 01-82 70 78 78 0 01-68-86l50-526a75 75 0 01 82-70Z" fill-rule="evenodd" clip-rule="evenodd"/></g></svg>
						</div>
						<div data-tool="saved-positions" id="saved-positions" class="tooltip-d" data-tooltip="Saved positions">
							<svg class="svg-saved-positions" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#333" stroke-width="0" viewBox="0 0 2400 2400"><g fill="#333" stroke="none"><path d="M1475 575h250v487l-70-40h-1l-16-8a93 93 0 00-76 0l-16 8-71 40V575Z"/><path d="M2200 1155v220c0 377 0 566-117 683s-306 117-683 117h-400c-377 0-566 0-683-117S200 1752 200 1375V670c0-88 0-132 7-170a400 400 0 01 319-318c37-7 80-7 169-7 39 0 58 0 77 2a400 400 0 01 218 90c14 12 28 26 55 53l55 55a855 855 0 00 171 150 400 400 0 00 54 24v571c0 14 0 30 2 45a100 100 0 00 40 70c35 23 70 14 86 8 14-5 28-13 39-20h2l106-60 106 60h2c10 7 25 15 39 20 16 6 51 15 86-10a98 98 0 00 40-70c2-12 2-30 2-43V580c105 7 174 25 226 72l24 22c77 86 77 218 77 480Z"/></g></svg>
						</div>
						<div data-tool="copy-notation" id="copy-notation" class="instant tooltip-d" data-tooltip="Copy notation">
							<svg class="svg-copy-notation" xmlns="http://www.w3.org/2000/svg" fill="#000" transform="rotate(1 80 0)" viewBox="-38.4-38.4 396.8 396.8"><g fill="none" fill-rule="evenodd"><path d="M0 0h320v320H0"/><path d="M80 80v113.3c0 25 19.7 45.5 44.5 46.7H240v40a40 40 0 01-40 40H40a40 40 0 01-40-40V120a40 40 0 01 40-40zm210-80a30 30 0 01 30 30v160a30 30 0 01-30 30H130a30 30 0 01-30-30V30a30 30 0 01 30-30" fill="#333"/></g></svg>
						</div>
						<div data-tool="paste-notation" id="paste-notation" class="instant tooltip-d" data-tooltip="Paste notation">
							<svg class="svg-paste-notation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 2400 2400"><g fill="#333"><path d="M1600 425c0 124-100 225-225 225h-350A224 224 0 01 800 425C800 301 900 200 1025 200h350A224 224 0 01 1600 425Z"/><path d="M1883 503a260 260 0 00-77-45c-29-11-58 12-64 42a374 374 0 01-367 300h-350a372 372 0 01-367-300c-6-30-36-53-65-41C477 506 400 612 400 825V1800c0 300 179 400 400 400h800c221 0 400-100 400-400V825c0-163-45-263-117-322ZM800 1225h400c41 0 75 34 75 75 0 40-34 75-75 75H800a76 76 0 01-75-75c0-41 34-75 75-75Zm800 550H800a76 76 0 01-75-75c0-41 34-75 75-75h800c41 0 75 34 75 75 0 40-34 75-75 75Z"/></g></svg>
						</div>
						<div data-tool="gamerules" id="gamerules" class="tooltip-dr" data-tooltip="Game rules">
							<svg class="svg-gamerules" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" viewBox="0 0 51200 51200"><path d="M50818 24352a1514 1514 0 00-2140-132l-4467 3955L31596 39340a4300 4300 0 01-2849 1080c-303 0-606-30-910-94l-7213-1598-8710-1922-6105-1352-874-195a2644 2644 0 01-1548-1332 2670 2670 0 01 225-2805 2575 2575 0 01 953-810 2602 2602 0 01 1216-294c70 0 142 6 214 6l6295 1360 14600 3157a5790 5790 0 00 5082-1322l8976-7907 9166-8074a2907 2907 0 00 890-2920 2903 2903 0 00-2206-2117l-1142-246-8326-1800-10550-2277a5788 5788 0 00-5080 1324L9615 21577l-4236 3722-3686 3237a3966 3966 0 00-397 534c-65 80-123 152-181 240A5778 5778 0 00 0 32706a5764 5764 0 00 1100 3384 5613 5613 0 00 1280 1286 5530 5530 0 00 1668 840l66 20 6425 1410 6086 1330 10567 2313a7354 7354 0 00 6410-1663l362-317 12547-11110 4178-3700a1522 1522 0 00 130-2146" fill="#333"/></svg>
						</div>
						<div data-tool="start-game" id="start-game" class="instant tooltip-d" data-tooltip="Start local game from position">
							<svg class="svg-start-game" viewBox="0 0 45 45">
								<path d="M22.5 9c-2.21 0-4 1.79-4 4 0 .89.29 1.71.78 2.38C17.33 16.5 16 18.59 16 21c0 2.03.94 3.84 2.41 5.03-3 1.06-7.41 5.55-7.41 13.47h23c0-7.92-4.41-12.41-7.41-13.47 1.47-1.19 2.41-3 2.41-5.03 0-2.41-1.33-4.5-3.28-5.62.49-.67.78-1.49.78-2.38 0-2.21-1.79-4-4-4z" fill-opacity="1" fill-rule="nonzero" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity="1" stroke-width="1.5" opacity="1" fill="#333"/>
							</svg>
						</div>
					</div>
				</div>
				<hr class="editor-separator">
				<!-- Section: Tools -->
				<div>
					<div class="editor-header">Tools</div>
					<div class="editor-tools">
						<div data-tool="normal" id="normal" class="active tooltip-dr" data-tooltip="Normal">
							<svg class="svg-normal" xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" viewBox="-96 0 512 512"><path d="M302.19 329.13H196.1l55.84 135.99c3.88 9.43-.56 20-9.45 24l-49.16 21.42c-9.17 4-19.45-.57-23.34-9.7L116.95 371.7 30.3 460.83C18.72 472.71 0 463.55 0 447.98V18.3C0 1.9 19.92-6.1 30.28 5.44l284.4 292.54c11.48 11.18 3.02 31.15-12.5 31.15z"/></svg>
						</div>
						<div data-tool="eraser" id="eraser" class="tooltip-d" data-tooltip="Eraser">
							<svg class="svg-eraser" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#333" stroke-width="0" viewBox="0 0 240 240"><g fill="#333" stroke="none"><path d="M114 55C131 38 140 30 150 30s18 8 35 25S210 80 210 90s-8 20-25 36l-42 42-70-71 41-42Z"/><path d="m62 108 70 70-6 7-10 10H210a8 8 0 01 0 15H90c-10 0-19-9-35-25C38 168 30 160 30 150s8-20 25-36l7-6Z"/></g></svg>
						</div>
						<div data-tool="specialrights" id="specialrights" class="tooltip-d" data-tooltip="Special rights toggle">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-4 -4 24 24"><path fill="#333" d="M10 1H6v5H1v4h5v5h4v-5h5V6h-5V1Z"/></svg>
						</div>
						<div data-tool="selection-tool" id="selection-tool" class="tooltip-d" data-tooltip="Selection">
							<svg class="svg-selection-tool" xmlns="http://www.w3.org/2000/svg" fill="#222" viewBox="0 0 2560 2560"><path d="M1520 480a120 120 0 01-120 120h-240a120 120 0 01 0-240h240a120 120 0 01 120 120Zm-120 1480h-240a120 120 0 00 0 240h240a120 120 0 00 0-240Zm400-1360h160v160a120 120 0 00 240 0V560a200.2 200.2 0 00-200-200h-200a120 120 0 00 0 240Zm280 440a120 120 0 00-120 120v240a120 120 0 00 240 0v-240a120 120 0 00-120-120ZM480 1520a120 120 0 00 120-120v-240a120 120 0 10-240 0v240a120 120 0 00 120 120Zm280 440H600v-160a120 120 0 00-240 0v200a200.2 200.2 0 00 200 200h200a120 120 0 00 0-240Zm0-1600H560a200.2 200.2 0 00-200 200v200a120 120 0 00 240 0V600h160a120 120 0 00 0-240Zm1600 1600h-160v-160a120 120 0 00-240 0v160h-160a120 120 0 00 0 240h160v160a120 120 0 00 240 0v-160h160a120 120 0 00 0-240Z"/></svg>
						</div>
					</div>
				</div>
				<hr class="editor-separator">
				<!-- Section: Selection -->
				<div>
					<div class="selection-actions">
						<div class="editor-header">Selection</div>
					</div>
				</div>
        		<hr class="editor-separator">
				<!-- Section: Palette -->
				<div>
					<div class="editor-header">Palette</div>
					<div data-tool="color" id="editor-color-select" class="color-select">
						<span class="opposite-color-text">Color</span>
					</div>
					<div id="editor-pieceTypes"></div>
					<div id="editor-neutralTypes"></div>
				</div>
            </div>

            <!-- Entire board UI, including loading screen, canvas and overlay -->
            <div id="boardUI">

                <!-- Loading Screen -->

                <div id="loading-animation" class="animation-container">
                    <div id="loading-glow" class="loading-glow loadingGlowAnimation"></div>
                    <span id="loading-text" class="loading-text pulsing"><%=t('play.loading')%></span>
                    <div id="loading-error" class="loading-error hidden">
                        <h1><%=t('play.error')%></h1>
                        <p id="loading-error-text"></p>
                    </div>
                    <div class="checkerboard"></div>
                </div>

                <!-- The webgl context will render the game onto here -->
                <canvas id="game"></canvas>

                <!-- The spinny pawn loading animation when a game is loading,
                while the svgs are being requested and spritesheet generated -->
                <div class="game-loading-screen transparent">
                    <svg class="svg-pawn spinny-pawn"><use href="#svg-pawn"></use></svg>
                    <div class="loading-error hidden">
                        <h1><%=t('play.error')%></h1>
                        <p class="loading-error-text"></p>
                    </div>
                </div>

                <div id="overlay" class="overlay">

                    <!-- The external discord & game credits links on the title screen -->
                    <div id="menu-external-links" class="menu-external-links hidden">
                        <!-- Discord icon, bottom left -->
                        <a href="https://discord.gg/NFWFGZeNh5" target="_blank" class="discord-icon">
                            <svg viewBox="0 -28.5 256 256" version="1.1" preserveAspectRatio="xMidYMid" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <g> <path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="#000000" fill-rule="nonzero"> </path> </g> </g></svg>
                        </a>

                        <a href="https://github.com/Infinite-Chess/infinitechess.org" target="_blank" class="github-icon">
                            <svg viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <g> <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#000"></path></g></g> </svg>     
                        </a>

                        <a href="/credits?lng=<%= language %>" class="credits"><%=t('play.main-menu.credits')%></a>
                    </div>

                    <!-- Menu screen UI -->
                    <div id="title" class="title hidden">
                        <h1>Infinite Chess</h1>
                        <button id="play" class="play titlebubble button"><%=t('play.main-menu.play')%></button>
                        <button id="practice" class="practice titlebubble button"><%=t('play.main-menu.practice')%></button>
                        <button id="rules" class="rules titlebubble button"><%=t('play.main-menu.guide')%></button>
                        <!-- <button id="board-editor" class="board-editor titlebubble button opacity-0_5"><%=t('play.main-menu.editor')%></button> -->
                        <!-- ENABLE WHEN board editor is ready -->
                        <button id="board-editor" class="board-editor titlebubble button"><%=t('play.main-menu.editor')%></button>
                    </div>

                    <!-- Play selection -->
                    <div id="play-selection" class="play-selection hidden">
                        <p id="play-name" class="play-name"><%=t('play.play-menu.title')%></p>
                        <button id="online" class="online titlebubble button"><%=t('play.play-menu.online')%></button>
                        <button id="local" class="local titlebubble button"><%=t('play.play-menu.local')%></button>
                        <button id="computer" class="computer titlebubble opacity-0_5 button"><%=t('play.play-menu.computer')%></button>
                        <!-- ENABLE WHEN ENGINE GAMES ARE READY -->
                        <!-- <button id="computer" class="computer titlebubble button"><%=t('play.play-menu.computer')%></button> -->
                        <div class="game-options titlebubble">
                            <div class="options">
                                <div class="option-card">
                                    <p><%=t('play.play-menu.variant')%></p>
                                    <div class="option">
                                        <select id="option-variant" class="button">
                                            <option value="Classical"><%=t('play.play-menu.Classical')%></option>
                                            <option value="Confined_Classical"><%=t('play.play-menu.Confined_Classical')%></option>
                                            <option value="Classical_Plus"><%=t('play.play-menu.Classical_Plus')%></option>
                                            <option value="CoaIP"><%=t('play.play-menu.CoaIP')%></option>
                                            <option value="CoaIP_HO"><%=t('play.play-menu.CoaIP_HO')%></option>
                                            <option value="Knighted_Chess"><%=t('play.play-menu.Knighted_Chess')%></option>
                                            <option value="Pawndard"><%=t('play.play-menu.Pawndard')%></option>
                                            <option value="Core"><%=t('play.play-menu.Core')%></option>
                                            <option value="Standarch"><%=t('play.play-menu.Standarch')%></option>
                                            <option value="Space_Classic"><%=t('play.play-menu.Space_Classic')%></option>
                                            <option value="Space"><%=t('play.play-menu.Space')%></option>
                                            <option value="Abundance"><%=t('play.play-menu.Abundance')%></option>
                                            <option value="Pawn_Horde"><%=t('play.play-menu.Pawn_Horde')%></option>
                                            <option value="Knightline"><%=t('play.play-menu.Knightline')%></option>
                                            <option value="Obstocean"><%=t('play.play-menu.Obstocean')%></option>
                                            <!-- <option value="Amazon_Chandelier"><%=t('play.play-menu.Amazon_Chandelier')%></option> -->
                                            <!-- <option value="Containment"><%=t('play.play-menu.Containment')%></option> -->
                                            <!-- <option value="Classical_Limit_7"><%=t('play.play-menu.Classical_Limit_7')%></option>
                                            <option value="CoaIP_Limit_7"><%=t('play.play-menu.CoaIP_Limit_7')%></option> -->
                                            <option value="Chess"><%=t('play.play-menu.Chess')%></option>
                                            <!-- <option value="Classical_KOTH"><%=t('play.play-menu.Classical_KOTH')%></option>
                                            <option value="CoaIP_KOTH"><%=t('play.play-menu.CoaIP_KOTH')%></option> -->
                                            <option value="4x4x4x4_Chess"><%=t('play.play-menu.4x4x4x4_Chess')%></option>
                                            <option value="5D_Chess"><%=t('play.play-menu.5D_Chess')%></option>
                                            <option value="Omega"><%=t('play.play-menu.Omega')%></option>
                                            <option value="Omega_Squared"><%=t('play.play-menu.Omega_Squared')%></option>
                                            <option value="Omega_Cubed"><%=t('play.play-menu.Omega_Cubed')%></option>
                                            <option value="Omega_Fourth"><%=t('play.play-menu.Omega_Fourth')%></option>
                                        </select>
                                    </div>
                                </div>
                                <div id="option-card-clock" class="option-card">
                                    <p><%=t('play.play-menu.clock')%></p>
                                    <div class="option">
                                        <select id="option-clock" class="button">
                                            <!-- Developmental time control: 20 seconds -->
                                            <!-- <option value="15+2">0.25<%=t('play.play-menu.minutes')%>+2<%=t('play.play-menu.seconds')%></option> -->
                                            <option value="60+2">1<%=t('play.play-menu.minutes')%>+2<%=t('play.play-menu.seconds')%></option>
                                            <option value="120+2">2<%=t('play.play-menu.minutes')%>+2<%=t('play.play-menu.seconds')%></option>
                                            <option value="180+2">3<%=t('play.play-menu.minutes')%>+2<%=t('play.play-menu.seconds')%></option>
                                            <option value="300+2">5<%=t('play.play-menu.minutes')%>+2<%=t('play.play-menu.seconds')%></option>
                                            <option value="480+3">8<%=t('play.play-menu.minutes')%>+3<%=t('play.play-menu.seconds')%></option>
                                            <option value="600+6" selected>10<%=t('play.play-menu.minutes')%>+6<%=t('play.play-menu.seconds')%></option>
                                            <option value="720+5">12<%=t('play.play-menu.minutes')%>+5<%=t('play.play-menu.seconds')%></option>
                                            <option value="900+6">15<%=t('play.play-menu.minutes')%>+6<%=t('play.play-menu.seconds')%></option>
                                            <option value="1200+8">20<%=t('play.play-menu.minutes')%>+8<%=t('play.play-menu.seconds')%></option>
                                            <option value="1500+10">25<%=t('play.play-menu.minutes')%>+10<%=t('play.play-menu.seconds')%></option>
                                            <option value="1800+15">30<%=t('play.play-menu.minutes')%>+15<%=t('play.play-menu.seconds')%></option>
                                            <option value="2400+20">40<%=t('play.play-menu.minutes')%>+20<%=t('play.play-menu.seconds')%></option>
                                            <option value="-"><%=t('play.play-menu.infinite_time')%></option>
                                        </select>
                                    </div>
                                </div>
                                <div id="option-card-color" class="option-card">
                                    <p><%=t('play.play-menu.color')%></p>
                                    <div class="option">
                                        <select id="option-color" class="button">
                                            <option value="Random"><%=t('play.play-menu.piece_colors.0')%></option>
                                            <option value="White"><%=t('play.play-menu.piece_colors.1')%></option>
                                            <option value="Black"><%=t('play.play-menu.piece_colors.2')%></option>
                                        </select>
                                    </div>
                                </div>
                                <div id="option-card-private" class="option-card">
                                    <p><%=t('play.play-menu.private')%></p>
                                    <div class="option">
                                        <select id="option-private" class="button">
                                            <option value="public"><%=t('play.play-menu.no')%></option>
                                            <option value="private"><%=t('play.play-menu.yes')%></option>
                                        </select>
                                    </div>
                                </div>
                                <div id="option-card-rated" class="option-card">
                                    <p><%=t('play.play-menu.rated')%></p>
                                    <div class="option">
                                        <select id="option-rated" class="button">
                                            <option value="casual"><%=t('play.play-menu.no')%></option>
                                            <option id="option-rated-yes" value="rated" disabled><%=t('play.play-menu.yes')%></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="invite-list">
                                <p id="join-existing" class="join-existing"><%=t('play.play-menu.join_games')%> </p>
                                <div id="our-invite"></div>
                                <div id="invites">
                                    <!-- Example invite -->
                                    <!-- <div class="invite">
                                        <div class="invite-child">Playername (elo)</div>
                                        <div class="invite-child">Standard</div>
                                        <div class="invite-child">15m+15s</div>
                                        <div class="invite-child">Random</div>
                                        <div class="invite-child">Casual</div>
                                        <div class="invite-child accept">Accept</div>
                                    </div> -->
                                </div>
                            </div>
                            <div id="join-private" class="join-private hidden">
                                <p><%=t('play.play-menu.private_invite')%></p>
                                <input type="text" id="textbox-private" class="textbox-private" placeholder="<%=t('play.play-menu.code')%>" maxlength="5">
                                <button id="join-button" class="join-button"><%=t('play.play-menu.join')%></button>
                            </div>
                            <div id="invite-code" class="invite-code hidden">
                                <p><%=t('play.play-menu.your_invite')%></p>
                                <p id="invite-code-code" class="invite-code-code"></p>
                                <button id="copy-button" class="copy-button"><%=t('play.play-menu.copy')%></button>
                            </div>
                        </div>
                        <button id="create-invite" class="create-invite titlebubble button"><%=t('play.play-menu.create_invite')%></button>
                        <button id="play-back" class="play-back titlebubble button"><%=t('play.play-menu.back')%></button>
                    </div>

                    <!-- Practice selection -->
                    <div id="practice-selection" class="practice-selection hidden">
                        <p class="practice-name"><%=t('play.practice-menu.title')%></p>
                        <div class="practice-box titlebubble">
                            <div class="practice-head">
                                <div class="checkmate-progress"></div>
                                <div class="checkmate-progress-bar">
                                    <picture id="checkmate-badge-bronze" class="badge tooltip-u unselectable" data-tooltip="<%=t('member.badge-tooltips.checkmate_bronze')%>">
                                        <div class="shine-clockwise hidden"></div>
                                        <div class="shine-anticlockwise hidden"></div>
                                        <source srcset="/img/badges/checkmate-badge-bronze.webp" type="image/webp" />
                                        <source srcset="/img/badges/checkmate-badge-bronze.avif" type="image/avif" />
                                        <img loading="lazy" src="/img/badges/checkmate-badge-bronze.png" class="unearned">
                                    </picture>
                                    <picture id="checkmate-badge-silver" class="badge tooltip-u unselectable" data-tooltip="<%=t('member.badge-tooltips.checkmate_silver')%>">
                                        <div class="shine-clockwise hidden"></div>
                                        <div class="shine-anticlockwise hidden"></div>
                                        <source srcset="/img/badges/checkmate-badge-silver.webp" type="image/webp" />
                                        <source srcset="/img/badges/checkmate-badge-silver.avif" type="image/avif" />
                                        <img loading="lazy" src="/img/badges/checkmate-badge-silver.png" class="unearned">
                                    </picture>
                                    <picture id="checkmate-badge-gold" class="badge tooltip-u unselectable" data-tooltip="<%=t('member.badge-tooltips.checkmate_gold')%>">
                                        <div class="shine-clockwise hidden"></div>
                                        <div class="shine-anticlockwise hidden"></div>
                                        <source srcset="/img/badges/checkmate-badge-gold.webp" type="image/webp" />
                                        <source srcset="/img/badges/checkmate-badge-gold.avif" type="image/avif" />
                                        <img loading="lazy" src="/img/badges/checkmate-badge-gold.png" class="unearned">
                                    </picture>
                                </div>
                                <div class="checkmate-difficulty difficulty-title"><%=t('play.practice-menu.difficulty')%></div>
                            </div>
                            <div class="checkmate-list">
                                <div id="checkmates">
                                    <!-- Checkmate list is inserted dynamically here on demand. -->
                                    <!-- Example looks like: -->
                                    <!-- <div class="checkmate unselectable selected" id="2R1N1P-1k">
                                        <div class="completion-mark"></div>
                                        <div class="piecelistW">
                                            <div class="checkmate-child checkmatepiececontainer">
                                                <div class="checkmatepiece rooksW"><svg></svg></div>
                                            </div>
                                            <div class="checkmate-child checkmatepiececontainer collated-strong">
                                                <div class="checkmatepiece rooksW"><svg></svg></div>
                                            </div>
                                            <div class="checkmate-child checkmatepiececontainer">
                                                <div class="checkmatepiece knightsW"><svg></svg></div>
                                            </div>
                                            <div class="checkmate-child checkmatepiececontainer">
                                                <div class="checkmatepiece pawnsW"><svg></svg></div>
                                            </div>
                                        </div>
                                        <div class="checkmate-child versus">vs</div>
                                        <div class="piecelistB">
                                            <div class="checkmate-child checkmatepiececontainer">
                                                <div class="checkmatepiece kingsB"></div>
                                            </div>
                                        </div>
                                        <div class="checkmate-difficulty">Medium</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <button id="practice-play" class="practice-play titlebubble button"><%=t('play.practice-menu.play')%></button>
                        <button id="practice-back" class="practice-back titlebubble button"><%=t('play.practice-menu.back')%></button>
                    </div>

                    <!-- Stats below navigation bar -->
                    <!-- This is absolutely positioned. Our javascript will udate it's 'top' ruleset based
                    on the height of the navigation bar. -->
                    <div id="stats">
                        <p id="status-fps" class="status hidden"></p>
                        <p id="status-moves" class="status hidden"></p>
                    </div>

                    <!-- Navigation controls -->
                    <div id="navigation-bar" class="navigation-bar hidden unselectable">
                        <div class="teleport">
                            <div class="buttoncontainer">
                                <div id="back" class="button tooltip-dr" data-tooltip="<%=t('play.gamebuttontooltips.undo_transition')%>">
                                    <svg viewBox="-1.68 -1.68 27.36 27.36" fill="none" stroke="#333" stroke-width="0.45600000000000007"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5303 5.46967C10.8232 5.76256 10.8232 6.23744 10.5303 6.53033L5.81066 11.25H20C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H5.81066L10.5303 17.4697C10.8232 17.7626 10.8232 18.2374 10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303L3.46967 12.5303C3.17678 12.2374 3.17678 11.7626 3.46967 11.4697L9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967Z" fill="#333"></path> </g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer">
                                <div id="expand" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.expand_fit_all')%>">
                                    <svg viewBox="-3.84 -3.84 31.68 31.68" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><path d="M3 7C3 7.55228 2.55228 8 2 8C1.44772 8 1 7.55228 1 7V3C1 1.89543 1.89543 1 3 1H7C7.55228 1 8 1.44772 8 2C8 2.55228 7.55228 3 7 3H4.41421L10.7071 9.29289C11.0976 9.68342 11.0976 10.3166 10.7071 10.7071C10.3166 11.0976 9.68342 11.0976 9.29289 10.7071L3 4.41422V7Z" fill="#333"></path> <path d="M21 17C21 16.4477 21.4477 16 22 16C22.5523 16 23 16.4477 23 17V21C23 22.1046 22.1046 23 21 23H17C16.4477 23 16 22.5523 16 22C16 21.4477 16.4477 21 17 21H19.5858L13.2929 14.7071C12.9024 14.3166 12.9024 13.6834 13.2929 13.2929C13.6834 12.9024 14.3166 12.9024 14.7071 13.2929L21 19.5858V17Z" fill="#333"></path> <path d="M21 7C21 7.55228 21.4477 8 22 8C22.5523 8 23 7.55228 23 7V3C23 1.89543 22.1046 1 21 1H17C16.4477 1 16 1.44772 16 2C16 2.55228 16.4477 3 17 3H19.5858L13.2929 9.29289C12.9024 9.68342 12.9024 10.3166 13.2929 10.7071C13.6834 11.0976 14.3166 11.0976 14.7071 10.7071L21 4.41421V7Z" fill="#333"></path> <path d="M3 17C3 16.4477 2.55228 16 2 16C1.44772 16 1 16.4477 1 17V21C1 22.1046 1.89543 23 3 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H4.41421L10.7071 14.7071C11.0976 14.3166 11.0976 13.6834 10.7071 13.2929C10.3166 12.9024 9.68342 12.9024 9.29289 13.2929L3 19.5858V17Z" fill="#333"></path> </g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer">
                                <div id="recenter" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.recenter')%>">
                                    <svg fill="#333" viewBox="-59.11 -59.11 610.81 610.81" stroke="#333" stroke-width="0.0049258900000000005"><g><path d="M468.467,222.168h-28.329c-9.712-89.679-80.46-161.18-169.71-172.258V24.135c0-13.338-10.791-24.134-24.134-24.134 c-13.311,0-24.117,10.796-24.117,24.134V49.91C132.924,60.988,62.177,132.488,52.482,222.168H24.153 C10.806,222.168,0,232.964,0,246.286c0,13.336,10.806,24.132,24.153,24.132h29.228c12.192,86.816,81.551,155.4,168.797,166.229 v31.804c0,13.336,10.806,24.135,24.117,24.135c13.343,0,24.134-10.799,24.134-24.135v-31.804 c87.228-10.829,156.607-79.413,168.775-166.229h29.264c13.33,0,24.122-10.796,24.122-24.132 C492.589,232.964,481.797,222.168,468.467,222.168z M246.294,398.093c-85.345,0-154.804-69.453-154.804-154.813 c0-85.363,69.459-154.813,154.804-154.813c85.376,0,154.823,69.45,154.823,154.813 C401.117,328.639,331.671,398.093,246.294,398.093z"></path> <path d="M246.294,176.93c-36.628,0-66.34,29.704-66.34,66.349c0,36.635,29.711,66.349,66.34,66.349 c36.66,0,66.34-29.713,66.34-66.349C312.634,206.635,282.955,176.93,246.294,176.93z"></path></g></svg>
                                </div>
                            </div>
                            <!-- Annotation buttons on mobile (pencil, eraser, stack) -->
                            <div class="buttoncontainer annotations">
                                <div id="annotations" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.annotations')%>">
                                    <svg class="pencil" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#333" stroke="#333" stroke-width=".432" xmlns:v="https://vecta.io/nano"><path d="M17.067 2.272a3.57 3.57 0 0 1 4.662 1.931 3.57 3.57 0 0 1-.773 3.888l-.518.518-5.045-5.045.518-.518a3.57 3.57 0 0 1 1.157-.773zm-3.09 2.705L3.655 15.3a1 1 0 0 0-.258.444l-1.362 4.993a1 1 0 0 0 1.228 1.228l4.993-1.362a1 1 0 0 0 .444-.258l10.323-10.323-5.045-5.045z"/></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer erase">
                                <div id="erase" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.erase')%>">
                                    <svg class="erase" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#333" stroke-width="0" viewBox="0 0 240 240"><g fill="#333" stroke="none"><path d="M114 55C131 38 140 30 150 30s18 8 35 25S210 80 210 90s-8 20-25 36l-42 42-70-71 41-42Z"/><path d="m62 108 70 70-6 7-10 10H210a8 8 0 01 0 15H90c-10 0-19-9-35-25C38 168 30 160 30 150s8-20 25-36l7-6Z"/></g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer collapse hidden">
                                <div id="collapse" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.collapse')%>">
                                    <svg class="collapse" xmlns="http://www.w3.org/2000/svg" fill="#333" viewBox="0 0 256 256" stroke="#333" stroke-width="6.912" xmlns:v="https://vecta.io/nano"><path d="M8 104a8 8 0 0 1 4.031-6.946l112-64a8.004 8.004 0 0 1 7.938 0l112 64a8 8 0 0 1 0 13.893l-112 64a8.001 8.001 0 0 1-7.937 0l-112-64A8 8 0 0 1 8 104zm228.031 33.054L128 198.786 19.969 137.054a8 8 0 0 0-7.937 13.893l112 64a8.001 8.001 0 0 0 7.938 0l112-64a8 8 0 0 0-7.937-13.893z"/></svg>
                                </div>
                            </div>
                        </div>
                        <div class="coords selectable">
                            <div id="position">
                                <div class="x">X: <input type="string" id='x'></input></div>
                                <div class="y">Y: <input type="string" id='y'></input></div>
                            </div>
                        </div>
                        <div class="right-nav">
                            <div class="buttoncontainer">
                                <div id="move-left" class="button opacity-0_5 tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.rewind_move')%>">
                                    <svg fill="#333" viewBox="-15.84 -15.84 55.68 55.68" stroke="#333" stroke-width="2.4"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path></g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer">
                                <div id="move-right" class="button opacity-0_5 tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.forward_move')%>">
                                    <svg fill="#333" viewBox="-15.84 -15.84 55.68 55.68" stroke="#333" stroke-width="2.4"><g transform="scale(-1, 1) translate(-25.16, 0)"><path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path></g></svg>
                                </div>
                            </div>
                            <!-- Undo and redo buttons in board editor -->
                            <div class="buttoncontainer">
                                <div id="undo-edit" class="hidden button opacity-0_5 tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.undo_edit')%>">
                                    <svg viewBox="-5 -5 26 26" fill="#333"><g transform="translate(0.4, 1.3)"><path d="M6 3.6V0L0 6l6 6V8c6-.27 7.53 3.76 7.88 5.77a.27.27 0 0 0 .53 0C17.08 2.86 6 3.6 6 3.6"/></g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer">
                                <div id="redo-edit" class="hidden button opacity-0_5 tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.redo_edit')%>">
                                    <svg viewBox="-5 -5 26 26" fill="#333"><g transform="scale(-1, 1) translate(-15.6, 1.3)"><path d="M6 3.6V0L0 6l6 6V8c6-.27 7.53 3.76 7.88 5.77a.27.27 0 0 0 .53 0C17.08 2.86 6 3.6 6 3.6"/></g></svg>
                                </div>
                            </div>
                            <div class="buttoncontainer">
                                <div id="pause" class="button tooltip-d" data-tooltip="<%=t('play.gamebuttontooltips.pause')%>">
                                    <svg viewBox="-2.5 -2.5 29 29" version="1.2" fill="#333" stroke-width="2.4"><g stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6H20M4 12H20M4 18H20"></path></g></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Game info, clocks, player names, whos turn -->
                    <div id="game-info-bar" class="game-info-bar hidden">
                        <div class="player-container left">
                            <div id="playerwhite" class="playerwhite"></div>
                            <div class="timer-container left">
                                <div id="timer-white" class="timer white">XX:XX</div>
                            </div>
                        </div>
                        
                        <div class="whosturn">
                            <div id="whosturn"></div>

                            <!-- Draw Offer UI -->
                            <div id="draw_offer_ui" class="draw_offer_ui hidden">
                                <p class="offer_title"><%=t('play.drawoffer.question')%></p>
                                <button id="acceptdraw" class="acceptdraw button icon" alt="Accept draw offer">
                                    <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                                        <path d="M19 7.34189C18.6095 6.95136 17.9763 6.95136 17.5858 7.34189L10.3407 14.587C9.95016 14.9775 9.31699 14.9775 8.92647 14.587L6.38507 12.0456C5.99454 11.6551 5.36138 11.6551 4.97085 12.0456C4.58033 12.4361 4.58033 13.0693 4.97085 13.4598L7.51774 16C8.68969 17.1689 10.5869 17.1677 11.7574 15.9974L19 8.7561C19.3905 8.36558 19.3905 7.73241 19 7.34189Z" fill="#0F0F0F"/>
                                    </svg>
                                </button>
                                <button id="declinedraw" class="declinedraw button icon" alt="Decline draw offer">
                                    <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                                        <path d="M17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289Z" fill="#000000"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!-- Practice engine game game undo move + restart buttons -->
                        <div class="practice-engine-buttons hidden">
                            <button id="undobutton" class="game-control tooltip-u" data-tooltip="<%=t('play.gamebuttontooltips.undo')%>">
                                <svg class="svg-undo"><use href="#svg-undo"></use></svg>
                            </button>
                            <button id="restartbutton" class="game-control tooltip-ul" data-tooltip="<%=t('play.gamebuttontooltips.restart')%>">
                                <svg class="svg-restart" fill="none" viewBox="0 0 240 240"><g stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" clip-path="url(#a)"><path d="M120 30a90 90 0 11-57 20"/><path d="M30 45h40v40"/></g><defs><clipPath id="a"><path d="M0 0h240v240H0" fill="#555"/></clipPath></defs></svg>
                            </button>
                        </div>
                        <div class="player-container right">
                            <div id="playerblack" class="playerblack justify-content-right"></div>
                            <div class="timer-container right">
                                <div id="timer-black" class="timer black">XX:XX</div>
                            </div>
                        </div>
                    </div>

                    <!-- Promotion UI -->
                    <div id="promote" class="center hidden">
                        <div id="promotewhite" class="promotecolor hidden">
                            <!-- <svg id="knightsW" class="promotepiececontainer"></svg> -->
                        </div>
                        <div id="promoteblack" class="promotecolor hidden">
                            <!-- <svg id="knightsB" class="promotepiececontainer"></svg> -->
                        </div>
                    </div>

                    <!-- Game Rules UI for Board Editor -->
                    <div id="game-rules" class="center hidden">
                        <div id="game-rules-header">
                            <span class="unselectable">Game Rules</span>
                            <button id="close-rules">&times;</button>
                        </div>

                        <hr class="divider">

                        <div class="rules-section">
                            <label class="unselectable">Player to move:</label>
                            <div class="toggle-group">
                                <input type="radio" id="rules-white" name="player" value="white" checked>
                                <label for="rules-white">White</label>
                                <input type="radio" id="rules-black" name="player" value="black">
                                <label for="rules-black">Black</label>
                            </div>
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">En passant square:</label>
                            <div class="input-pair">
                                <input type="text" id="rules-enpassant-x" placeholder="x">
                                <span>,</span>
                                <input type="text" id="rules-enpassant-y" placeholder="y">
                            </div>
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">Move rule state:</label>
                            <div class="input-pair">
                                <input type="text" id="rules-moverule-current" placeholder="e.g. 0">
                                <span>/</span>
                                <input type="text" id="rules-moverule-max" placeholder="e.g. 100">
                            </div>
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">Promotion ranks (White):</label>
                            <input type="text" id="rules-promotionranks-white" placeholder="e.g. 8,12">
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">Promotion ranks (Black):</label>
                            <input type="text" id="rules-promotionranks-black" placeholder="e.g. 1,-10">
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">Promotion pieces:</label>
                            <input type="text" id="rules-promotionpieces" placeholder="e.g. Q,R,B,N">
                        </div>

                        <div class="rules-section">
                            <label class="unselectable">Win conditions:</label>
                            <div class="win-list">
                                <div class="win-item">
                                    <input type="checkbox" id="rules-checkmate" checked>
                                    <label for="rules-checkmate" class="unselectable">Checkmate</label>
                                </div>
                                <div class="win-item">
                                    <input type="checkbox" id="rules-royalcapture">
                                    <label for="rules-royalcapture" class="unselectable">Royal capture</label>
                                </div>
                                <div class="win-item">
                                    <input type="checkbox" id="rules-allroyalscaptured">
                                    <label for="rules-allroyalscaptured" class="unselectable">All royals captured</label>
                                </div>
                                <div class="win-item">
                                    <input type="checkbox" id="rules-allpiecescaptured">
                                    <label for="rules-allpiecescaptured" class="unselectable">All pieces captured</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pause UI -->
                    <div id="pauseUI" class="pauseUI hidden">
                        <p class="paused"><%=t('play.pause.title')%></p>
                        <button id="resume" class="resume button"><%=t('play.pause.resume')%></button>
                        <button id="togglepointers" class="togglepointers button"><%=t('play.pause.arrows')%></button>
                        <button id="toggleperspective" class="toggleperspective button"><%=t('play.pause.perspective')%></button>
                        <button id="copygame" class="copygame button"><%=t('play.pause.copy')%></button>
                        <button id="pastegame" class="pastegame button"><%=t('play.pause.paste')%></button>
                        <button id="offerdraw" class="offerdraw button"><%=t('play.pause.offer_draw')%></button>
                        <button id="practicemenu" class="practicemenu button hidden"><%=t('play.pause.practice_menu')%></button>
                        <button id="mainmenu" class="mainmenu button"><%=t('play.pause.main_menu')%></button>
                    </div>

                    <!-- Status message -->
                    <div id="statusmessage" class="statusmessage hidden">
                        <p id="statustext" class="statustext"></p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>