<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <title><%=t('reset_password.title')%></title>
        <!-- Add all your standard meta tags and links to header.css, footer.css etc. -->
        <link rel='stylesheet' href='/css/login.css'> <!-- We can reuse login.css -->
        <script defer src="/scripts/views/reset-password.js" type="module"></script> <!-- New JS file -->
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>
            <div id="content">                  
                <h1 class="center"><%=t('reset_password.title')%></h1>
                <form class="center" id="reset-form">
                    <p class="form-instruction"><%=t('reset_password.instruction')%></p>
                    <div class="formfield">
                        <div id="new-password-line">
                            <label for="new-password"><%=t('reset_password.new_password')%></label>
                            <input id="new-password" type="password" required>
                        </div>
                        <div id="confirm-password-line">
                            <label for="confirm-password"><%=t('reset_password.confirm_password')%></label>
                            <input id="confirm-password" type="password" required>
                        </div>
                        <!-- Message element will be inserted here by JS -->
                    </div>
                    <input type="submit" value="<%=t('reset_password.submit_button')%>" class="unavailable" id="submit-reset">
                </form>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
    </body>
</html>