<!DOCTYPE html>
<html lang="<%=language%>" dir="<%=t('direction')%>" >
    <head>
        <script>
            const translations = <%-JSON.stringify({
                ...t('header.javascript', {returnObjects: true})
            })%>;
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%=t('terms.title')%></title>
        <link rel='stylesheet' href='/css/termsofservice.css'>
        <link rel='stylesheet' href='/css/footer.css'>
        <link rel="icon" href="/img/favicon-light.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" href="/img/favicon-dark.png" media="(prefers-color-scheme: dark)" id="favicon" />
        <script defer src="/scripts/memberHeader.js"></script>
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>
            <div id="content">
                <h1 class="center"><%=t('terms.title')%></h1>
                <% if (language !== "en-US") { %>
                    <p style="font-weight: bold; color: red; background-color: #feccc9; padding: 5px;"><%=t('terms.warning.0')%><a style="color: red" href="/termsofservice?lng=en-US"><%=t('terms.warning.1')%></a><%=t('terms.warning.2')%><p>
                <% } %>
                <p class="center" style="margin-bottom:3em"><%=t('terms.consent')%></p>
                <p><%=t('terms.guardian_consent')%></p>
                <h2><%=t('terms.parents_header')%></h2>
                <p><%=t('terms.parents_paragraphs.0')%></p>
                <p><%=t('terms.parents_paragraphs.1')%></p>

                <h2><%=t('terms.fair_play_header')%></h2>
                <p><%=t('terms.fair_play_paragraph1.0')%><a href='mailto:infinitechess.org@gmail.com'><%=t('terms.fair_play_paragraph1.1')%></a></p>
                <p><%=t('terms.fair_play_paragraph2')%></p>
                <ul>
                    <li><p><%=t('terms.fair_play_rules.0')%></p></li>
                    <li><p><%=t('terms.fair_play_rules.1')%></p></li>
                    <li><p><%=t('terms.fair_play_rules.2')%></p></li>
                </ul>

                <h2><%=t('terms.cleanliness_header')%></h2>
                <p><%=t('terms.cleanliness_rules.0')%></p>
                <p><%=t('terms.cleanliness_rules.1')%></p>

                <h2><%=t('terms.privacy_header')%></h2>
                <p><%=t('terms.privacy_rules.0')%></p>
                <p><%=t('terms.privacy_rules.1')%></p>
                <p><%=t('terms.privacy_rules.2')%></p>
                <p><%=t('terms.privacy_rules.3')%></p>
                <p><%=t('terms.privacy_rules.4.0')%> <a href='/news'><%=t('terms.privacy_rules.4.1')%></a> <%=t('terms.privacy_rules.4.2')%></p>
                <p><%=t('terms.privacy_rules.5')%></p>
                <p><%=t('terms.privacy_rules.6')%></p>
                
                <h2><%=t('terms.cookie_header')%></h2>
                <p><%=t('terms.cookie_paragraphs.0')%></p>
                <p><%=t('terms.cookie_paragraphs.1')%></p>

                <h2><%=t('terms.conclusion_header')%></h2>
                <p><%=t('terms.conclusion_paragraphs.0')%></p>
                <p><%=t('terms.conclusion_paragraphs.1.0')%> <a href='/news'><%=t('terms.conclusion_paragraphs.1.1')%></a> <%=t('terms.conclusion_paragraphs.1.2')%></p>
                <p><%=t('terms.conclusion_paragraphs.2.0')%> <a href='https://github.com/Infinite-Chess/infinitechess.org/blob/main/docs/COPYING.md' target='_blank'><%=t('terms.conclusion_paragraphs.2.1')%></a><%=t('terms.conclusion_paragraphs.2.2')%></p>
                <p><%=t('terms.conclusion_paragraphs.3')%></p>
                <p><%=t('terms.conclusion_paragraphs.4')%></p>
                <p><%=t('terms.conclusion_paragraphs.5.0')%> <a href='mailto:infinitechess.org@gmail.com'><%=t('terms.conclusion_paragraphs.5.1')%></a></p>
                
                <p class="grey"><%=t('terms.update')%></p>
                <h3><%=t('terms.thanks')%></h3>
            </div>
        </main>
        <%- include(`${viewsfolder}/components/footer`, {t:t, languages:languages, language:language}) %>
    </body>
</html>
