<header>
    <div class="navbar">
        <a href="/" class="logo">
            <div class="icon">
                <img src="/img/logo_light.png" alt="Infinite Chess Logo">
            </div>
            <div class="logo-text">Infinite Chess</div>
        </a>
        <nav>
            <a href="/">
                <%=t('header.home')%>
            </a>
            <a href="/play">
                <%=t('header.play')%>
            </a>
            <a href="/news">
                <%=t('header.news')%>
            </a>
            <a href="/login" id="loginlink">
                <%=t('header.login')%>
            </a>
            <a href="/createaccount" id="createaccountlink">
                <%=t('header.createaccount')%>
            </a>
        </nav>
    </div>
    <script src="/scripts/memberHeader.js"></script>
</header>