<header>
    <div class="navbar">
        <a href="/" class="logo">
            <div class="icon">
                <img src="/img/logo.png" alt="Infinite Chess Logo">
            </div>
            <div class="logo-text">Infinite Chess</div>
        </a>
        <nav>
            <a href="/">
                <p><%=t('header.home')%></p>
            </a>
            <a href="/play">
                <p><%=t('header.play')%></p>
            </a>
            <a href="/news">
                <p><%=t('header.news')%></p>
            </a>
            <a href="/login" id="loginlink">
                <p id="logintext"><%=t('header.login')%></p>
            </a>
            <a href="/createaccount" id="createaccountlink">
                <p id="createaccounttext"><%=t('header.createaccount')%></p>
            </a>
        </nav>
    </div>
</header>