<header>
    <nav>
        <a href="/">
            <p class="currPage"><%=t('header.home')%></p>
        </a>
        <a href="/play">
            <p><%=t('header.play')%></p>
        </a>
        <a href="/news">
            <p><%=t('header.news')%></p>
        </a>
        <a href="/login" id="loginlink">
            <p id="logintext"><%=t('header.login')%></p>
        </a>
        <a href="/createaccount" id="createaccountlink">
            <p id="createaccounttext"><%=t('header.createaccount')%></p>
        </a>
    </nav>
</header>