<header>
    <a class="home visibility-hidden" href="/">
        <!-- <img class="headerlogo" src="img/logo/light-theme.png"/> -->
        <picture class="headerlogo" >
            <source srcset="/img/logo/light-theme.avif" type="image/avif" />
            <source srcset="/img/logo/light-theme.webp" type="image/webp" />
            <img src="img/logo/light-theme.png" alt="Omega one, the logo of Infinite Chess.">
        </picture>
        <p><%=t('header.home')%></p>
    </a>
    <nav class="visibility-hidden">
        <a href="/play">
            <span><%=t('header.play')%></span>
            <svg id="svg-play" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 45 45"><path d="M22.5 9c-2.21 0-4 1.79-4 4 0 .89.29 1.71.78 2.38C17.33 16.5 16 18.59 16 21c0 2.03.94 3.84 2.41 5.03-3 1.06-7.41 5.55-7.41 13.47h23c0-7.92-4.41-12.41-7.41-13.47 1.47-1.19 2.41-3 2.41-5.03 0-2.41-1.33-4.5-3.28-5.62.49-.67.78-1.49.78-2.38 0-2.21-1.79-4-4-4z" fill="#666" fill-opacity="1" fill-rule="nonzero" stroke="#666" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity="1" stroke-width="1.5" opacity="1"/></svg>
        </a>
        <a href="/news">
            <span><%=t('header.news')%></span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" id="svg-news" viewBox="0 0 240 240"><g fill="#555"><path d="M110 50a10 10 0 10 0 20h70a10 10 0 10 0-20h-70Zm-10 50c0-6 4-10 10-10h20a10 10 0 11 0 20h-20a10 10 0 01-10-10Zm10 30a10 10 0 10 0 20h20a10 10 0 00 0-20h-20Zm-10 50c0-6 4-10 10-10h20a10 10 0 11 0 20h-20a10 10 0 01-10-10Zm60-90a10 10 0 10 0 20h20a10 10 0 00 0-20h-20Zm-10 50c0-6 4-10 10-10h20a10 10 0 11 0 20h-20a10 10 0 01-10-10Zm10 30a10 10 0 10 0 20h20a10 10 0 00 0-20h-20Z"/><path d="M45 230H190a40 40 0 00 23-6c6-4 10-10 12-15A47 47 0 00 230 190V40a30 30 0 00-30-30H90a30 30 0 00-30 30v90H40a30 30 0 00-30 30v30c0 18 8 30 17 35a37 37 0 00 18 5ZM210 40c0-6-4-10-10-10H90a10 10 0 00-10 10v150c0 8-2 15-4 20H190c6 0 10-1 12-3l5-6c2-4 3-7 3-11V40ZM40 150h20v40c0 12-5 16-8 18-4 3-10 2-14 0-3-2-8-6-8-18v-30c0-6 4-10 10-10Z" fill-rule="evenodd" clip-rule="evenodd"/></g></svg>
        </a>
        <a id="login-link" href="/login">
            <span id="login" class="login"><%=t('header.login')%></span>
            <span id="profile" class="hidden"><%=t('header.profile')%></span>
            <svg id="svg-login" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 240 240"><path d="M150 165V190a20 20 0 01-20 20H60a20 20 0 01-20-20V50c0-11 9-20 20-20h70a20 20 0 01 20 20v30m50 40H90m0 0 25 25M90 120l25-25" stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/></svg>
            <svg id="svg-profile" class="hidden" xmlns="http://www.w3.org/2000/svg" fill="#000" stroke="#000" version="1.1" viewBox="0 0 2000 2000"><path d="M1656 1800H344c-70 0-123-70-96-134C370 1370 662 1200 1000 1200s629 170 752 466c27 64-25 134-96 134M592 600c0-220 183-400 408-400s408 180 408 400-183 400-408 400a405 405 0 01-408-400m1404 1164a952 952 0 00-612-697 593 593 0 00 220-560 610 610 0 00-530-503A608 608 0 00 388 600c0 190 89 357 228 467a952 952 0 00-612 697c-27 122 74 236 200 236h1590c128 0 229-114 200-236" fill="#555" fill-rule="evenodd" stroke="none"/></svg>
        </a>
        <a id="createaccount-link" href="/createaccount">
            <span id="createaccount"><%=t('header.createaccount')%></span>
            <span id="logout" class="hidden"><%=t('header.logout')%></span>
            <svg id="svg-createaccount" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="#555" stroke="#555" version="1.1" viewBox="0 0 3100 3100"><path d="m3006 1597-453-453a150 150 0 00-212 0l-91 90V150a150 150 0 00-150-150H200A150 150 0 00 50 150v2400a150 150 0 00 150 150h850v250a150 150 0 00 150 150h453c40 0 78-16 106-44L3006 1810a150 150 0 00 0-212zM350 300h1600v1235L1094 2390l-9 10H350V300zm1241 2500H1350v-241l1097-1097 240 241L1592 2800"/></svg>
            <svg id="svg-logout" class="hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 240 240"><path d="m160 170 50-50m0 0-50-50m50 50H90m30 50-.1 5.7a30 30 0 01-24 26.9l-5.7.7-10.2 1.1c-15.4 1.8-23 2.6-29.1.7a30 30 0 01-18.3-16.4C30 183 30 175.2 30 159.7V80.3c0-15.5 0-23.2 2.6-29A30 30 0 01 51 34.9c6-2 13.7-1 29 .7l10.3 1 5.7.8A30 30 0 01 120 64.3V70" stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/></svg>
        </a>
    </nav>
    <!-- gear svg for settings -->
    <div id="settings" class="settings visibility-hidden open">
        <svg class="gear" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 240 240"><path d="M128 4c10 0 20 8 21 18v4a30 30 0 00 40 22l4-2c10-3 21 0 26 10l8 13c5 9 3 20-4 26l-4 3a28 28 0 00 0 44l4 3c7 6 10 17 4 26l-8 13c-5 10-16 13-26 10l-4-2a30 30 0 00-40 22v4c-2 10-10 18-21 18h-16c-10 0-20-8-21-18v-4a30 30 0 00-40-22l-4 2c-10 3-21 0-26-10l-8-13a20 20 0 01 4-26l4-3a28 28 0 00 0-44l-4-3A20 20 0 01 13 70L20 56c5-10 16-13 26-10l4 2a30 30 0 00 40-22v-4c2-10 10-18 21-18h16ZM120 153a33 33 0 10 0-66 33 33 0 00 0 66Z" fill="#555" fill-rule="evenodd" clip-rule="evenodd"/></svg>
        <div id="settings-dropdown" class="settings-dropdown">
            <div class="settings-dropdown-item">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="svg-language" viewBox="0 0 240 240"><path d="m30 75 44 30 4 3h3l4-4 9-12V90h2s0 0 0 0l40-18 3-2v0l1-4 3-42m-8 112 26 11 6 3v4l-2 5-13 18c0 2 0 2-2 3h0l-3 1h-24l-2-2-2-3-7-22v-7l6-10c0-3 2-4 2-5h8l8 3ZM220 120a100 100 0 11-200 0 100 100 0 01 200 0Z" stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/></svg>
                <span class="text">Language</span>
                <span class="arrow-head"></span>
            </div>
            <div class="settings-dropdown-item">
                <svg class="svg-board" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 479 479"><path d="M0 240v239h480V0H0v240m0 0v240l1-120V120L0 1v239m60-90v90h180v180h180V240H240V60H60v90" fill="#777" fill-rule="evenodd"/></svg>
                <span class="text">Board</span>
                <span class="arrow-head"></span>
            </div>
        </div>
    </div>
</header>

<script defer src="/scripts/components/header.js"></script>